.page404 {
    padding: 100px 25px;

    &__container {
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }

    &__column {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 4rem; // 64 px
        text-transform: uppercase;
        color: #659DBD;
        
        margin: 0.5em 0; // 32px 0

    }

    &__text {
        font-size: 1.375rem; // 22px
        width: 80%;
        color: #5D5C61;
    }

    &__img {
        object-fit: contain;
        width: 100%;
        max-width: 50%;
    }

    &__link {
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        color: #123C69;
        padding-bottom: 6px;
        margin-top: 0.9375em; // 15px

        text-decoration: underline;
        transition: 0.25s linear;

        &:hover {
            text-decoration: underline;
            text-decoration-style: wavy; 
        }
    }

}

@media (max-width: 1110px) {
    .page404 {
        padding: 60px 25px;

        &__title {
            font-size: 3.6rem; // 57.6px
        }

        &__text {
            width: 85%;
        }
    }
}

@media (max-width: 900px) {
    .page404 {
        &__title {
            font-size: 3rem; // 48px
        }

        &__text {
            font-size: 1.25rem; // 20px
        }
    }
}

@media (max-width: 800px) {
    .page404 {
        padding: 30px 25px;
    }
}

@media (max-width: 700px) {
    .page404 {

        &__container {
            flex-direction: column;
            align-items: center;
            gap: 0;
        }

        &__title {
            margin: 1em 0 0.25em 0;
        }

        &__text {
            margin-top: 1em;
        }

        &__img {
            max-width: 80%;
        }
    }
}

@media (max-width: 470px) {
    .page404 {

        &__column {
            align-items: center;
        }

        &__title {
            text-align: center;
            font-size: 2.5rem; // 40px
        }

        &__img {
            max-width: 100%;
        }

        &__text {
            text-align: center;
            font-size: 1.125rem;
            width: 100%;
        }

        &__link {
            text-align: center;
        }
    }
}

@media (max-width: 396px) {
    .page404 {

        &__title {
            font-size: 2.4rem;
        }
    }
}

@media (max-width: 382px) {
    .page404 {

        &__title {
            margin-top: 0.5em;
            font-size: 2.2rem;
        }

        &__text {
            margin-top: 0.2em;
        }
    }
}

@media (max-width: 355px) {
    .page404 {

        &__title {
            font-size: 2rem;
        }
    }
}

@media (max-width: 328px) {
    .page404 {

        &__title {
            font-size: 1.8rem;
        }
    }
}